$black-color            : #1f1f1f;
$grey-color             : #59606d;
$white-color            : #fff;
$grey-light-color       : #959dad;
$grey-extra-light-color : #f8f8f8;
$yellow-color           : #f2c94c;
